* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.1em;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#f5efde, #FFFFFF);
    line-height: 1.6;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #021B79;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 2em;
    background-color: #f5efde;
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
    background: linear-gradient(#0575E6, #021B79);
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card div {
    padding: 2em;
    color: #fff;
}

.card h3 {
    font-size: 1.8rem;
    margin-bottom: 1em;
}

.card p {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
}

.btn {
    background-color: #021B79;
    color: #fff;
    padding: 5px 5px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 2em;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

a {
    text-decoration: none;
}

.btn:hover {
    background-color: whitesmoke;
    color: #021B79;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 2em;
    height: 20em;
}

.galeria div {
    flex: 1;
    background-size: cover;
    background-position: top center; /*top bottom center left right*/
    height: 350px;
    border-radius: 8px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.galeria div:hover {
    flex: 2.5;
    transition: all 0.5s cubic-bezier(.12,.73,.83,.37);
    box-shadow: 25px 25px 15px rgba(85, 85, 85);
}

.galeria:hover div:not(:hover){
    /*filter: grayscale(85%)*/;
}

/* Responsividade
